@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    --bgc-blue: rgb(224, 232, 255);
    --btn-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--bgc-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;

}

.wrapper {
    width: 80%;
    height: 70%;
    background-color: var(--very-pale-blue);
    overflow: hidden;
    border-radius: 15px;
}

img.image {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.container h1 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container>p {
    display: block;
    color: var(--desaturated-blue);
    padding-bottom: 20px;
    font-size: 16px;
}

.plan {
    width: 90%;
    height: 70px;
    background-color: rgb(224, 232, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.plan-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.plan-price p:nth-child(1) {
    font-size: 18px;
    color: var(--dark-blue);
    font-weight: 700;
    padding: 2px 0;
}

.plan-price p:nth-child(2) {
    color: var(--desaturated-blue);
    padding: 2px 0;
}

.plan p.change {
    font-weight: 700;
    padding-left: 10px;
    color: var(--btn-blue);
    text-decoration: underline;
    cursor: pointer;
}

.plan p.change:hover {
    color: var(--dark-blue);
    text-decoration: none;
}