@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    --bgc-blue: rgb(224, 232, 255);
    --btn-blue: rgb(56, 41, 224);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgc-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

html {
    font-family: 'Red Hat Display', sans-serif;
}

.wrapper {
    width: 325px;
    height: 630px;
    background-color: var(--very-pale-blue);
    overflow: hidden;
    border-radius: 15px;
}

img.image {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.container h1 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container>p {
    display: block;
    color: var(--desaturated-blue);
    padding-bottom: 20px;
    font-size: 16px;
}

.plan {
    width: 270px;
    height: 70px;
    background-color: rgb(238, 242, 254);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.plan-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.plan-price p:nth-child(1) {
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: 700;
    padding: 2px 0;
}

.plan-price p:nth-child(2) {
    color: var(--desaturated-blue);
    padding: 2px 0;
}

.plan p.change {
    font-weight: 700;
    padding-left: 10px;
    color: var(--btn-blue);
    text-decoration: underline;
    cursor: pointer;
}

.plan p.change:hover {
    color: var(--dark-blue);
    text-decoration: none;
}

.proceed {
    display: block;
    background-color: var(--btn-blue);
    width: 270px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 20px rgba(56, 41, 224, 0.5);
    margin-bottom: 15px;
    margin-top: 10px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.proceed:hover {
    background-color: var(--desaturated-blue);
}

.cancel {
    width: 270px;
    height: 50px;
    border-style: none;
    background-color: transparent;
    font-weight: 700;
    color: var(--desaturated-blue);
    font-size: 16px;
    cursor: pointer;
}

.cancel:hover {
    color: var(--dark-blue)
}

.attribution {
    font-size: 10px;
}

@media (min-width: 640px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-size: contain;

    }
}